@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

/* Título da API */
.api-title {
  width: 100%;
  color: rgb(8, 92, 8);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 50px;
}

/* Estilização do botão de pesquisa */
.search-button {
  color: rgb(8, 92, 8);
  margin-left: -50px;
}

/* Imagem de fundo */
main {
  background: url(../images/FUNDO_2.jpg) center bottom/cover no-repeat;
}

main {
  height: 60vh;
  width: 100%;
}

footer {
  position: fixed;
  background-color: rgb(25, 32, 25);
  color: gainsboro;
  font-size: 10px;
  font-family: sans-serif;
  height: 16vh;
  width: 100%;
}

.footer-list {
  list-style-type: none;
  color: rgb(73, 231, 73);
}

#copyright {
  color: rgb(73, 231, 73);
}

#copyright b {
  color: white;
}
