@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#logo-rick-and-morty {
  animation: flip 2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  transform-style: preserve-3d;
}

.api-title {
  width: 100%;
  color: rgb(8, 92, 8);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.search-button {
  color: rgb(8, 92, 8);
  margin-left: -50px;
}

.search-button svg {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  background: url(../images/FUNDO_2.jpg) center bottom/cover no-repeat;
}

main {
  height: 65vh;
  width: 100%;
}

.card {
  color: white;
  --bs-card-bg: transparent;
  opacity: 0;
  animation: fadeIn 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  width: 10rem;
  height: 13.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card img {
  height: 120px;
  width: 158px;
}

.card h5 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin-bottom: 0;
  margin-top: -7px;
}

.card p {
  font-size: 7px;
  margin: 0;
}

.card-text {
  color: #6c757d;
}

.card span {
  font-size: 7px;
  margin: 0;
}

.statusWrapper {
  display: flex;
  align-items: center;
}

.statusColor {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin-right: 5px;
}

.green-status {
  background-color: #56cd42;
}

.red-status {
  background-color: #cd4242;
}

.gray-status {
  background-color: #bbbbbb;
}

.pagination {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 999;
  bottom: 20%;
}

.page-item .page-link {
  color: #28a745;
  background-color: #fff;
  border-color: #28a745;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
}

.page-item.disabled .page-link:hover {
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  background-color: #28a745;
  border-color: #28a745;
}

.page-link:hover {
  background-color: #28a745;
  border-color: #28a745;
}

.page-link:focus {
  box-shadow: none;
}

.footer-list {
  justify-content: center;
}

#characters,
#locations,
#episodes {
  color: #28a745;
}

footer {
  position: fixed;
  background-color: rgb(17, 21, 17);
  color: gainsboro;
  font-size: 8px;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.footer-list {
  list-style-type: none;
  color: rgb(73, 231, 73);
}

#totalCharacters,
#totalLocations,
#totalEpisodes {
  color: #bbbbbb;
}

#copyright {
  color: rgb(73, 231, 73);
}

#copyright b {
  color: white;
}

.container,
.container-md,
.container-sm {
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 580px;
  }
}
